* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}

	&:last-child {
		margin-bottom: 0;
	}
}





/*
 * Color variables
*/
$light: #fff;
$dark: #000;
$link: #b02448;
$text: $dark;





/*
 * Default settings
*/
$font-size: 14px;
$line-height: 26px;
$space: 20px;





/*
 * Main wrapper
*/
.wrapper {
	@include clearfix;
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
}





/*
 * Clear
*/
.clear {
	clear: both;
}





/*
 * Workaround a Windows Phone responsive issuee
*/
@media screen {
	@-ms-viewport {
		width: device-width;
	}
}





/*
 * Hide's the element from the page, but screen readers will read it
*/
.hidden,
.screen-reader-text {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	overflow: hidden;
	height: 1px;
	width: 1px;
}