/*
 * Color variables
*/
$light: #fff;
$dark: #000;
$link: #b02448;
$text: $dark;





/*
 * Default settings
*/
$font-size: 16px;
$line-height: 140%;
$space: 20px;





/*
 * Clear
*/
.clear {
	clear: both;
}





/*
 * Workaround a Windows Phone responsive issuee
*/
@media screen {
	@-ms-viewport {
		width: device-width;
	}
}





/*
 * Hide's the element from the page, but screen readers will read it
*/
.hidden,
.screen-reader-text {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	overflow: hidden;
	height: 1px;
	width: 1px;
}

.skip-link.screen-reader-text:focus {
	display: block;
	clip: auto;
	color: $text;
	height: auto;
	left: 5px;
	top: 5px;
	padding: ($space / 2) $space;
	text-decoration: none;
	width: auto;
	z-index: 100000;
}