@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'base/typography';

body {
	@include sans-serif;
	color: $text;
	font-size: $font-size;
	line-height: $line-height;
	font-weight: 300;
	padding: $space;
}
