/**
 * Globals
 */
* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}

	&:last-child {
		margin-bottom: 0;
	}
}





/**
 * Body
 */
body {
	@include sans-serif;
	background: $light;
	color: $text;
	font-size: $font-size;
	line-height: $line-height;
}
