/*
 * Image and caption
*/
img {
	max-width: 100%;
	height: auto;
}

.wp-caption {
	max-width: 100%;
	height: auto;

	p.wp-caption-text {
		margin-bottom: $space;
		font-style: italic;
	}
}





/*
 * Gallery
*/
.gallery {
	margin: (-$space / 2);
}

.gallery-item {
	display: inline-block;
	padding: ($space / 2);
	min-height: 1px;
	width: 50%;

	@media screen and ( min-width: 767px ) {
		width: 25%;
	}

	.gallery-columns-1 & {
		width: 100%;
	}

	.gallery-columns-2 & {
		max-width: 50%;
	}

	@media screen and ( min-width: 657px ) {
		width: 33.33%;

		.gallery-columns-3 & {
			max-width: 33.33%;
		}

		.gallery-columns-4 & {
			max-width: 25%;
		}
	}

	@media screen and ( min-width: 1023px ) {
		.gallery-columns-5 & {
			max-width: 20%;
		}

		.gallery-columns-6 & {
			max-width: 16.66%;
		}

		.gallery-columns-7 & {
			max-width: 14.28%;
		}

		.gallery-columns-8 & {
			max-width: 12.5%;
		}

		.gallery-columns-9 & {
			max-width: 11.11%;
		}
	}

	a {
		display: inline-block;
		max-width: 100%;
	}

	img {
		display: block;
	}
}

.gallery-caption {
	display: block;
	padding: 0 10px 0 0;
	font-size: 14px;
}





/*
 * Alignments
*/
.alignleft {
	float: left;
	margin-right: $space;
	margin-bottom: ($space / 2);
}

.aligncenter {
	display: block;
	margin: 0 auto $space;
}

.alignright {
	float: right;
	margin-left: $space;
	margin-bottom: ($space / 2);
}
