/*
 * Fonter
*/
@mixin sans-serif {
	font-family: sans-serif;
}

@mixin serif {
	font-family: serif;
}





/*
 * Clear
*/
@mixin clearfix {
	display: block;
	zoom: 1;

	&:after {
		content: ' ';
		display: block;
		font-size: 0;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}





/*
 * Retina
*/
@mixin retina($image, $width, $height) {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: url($image);
		background-size: $width $height;
	}
}





/*
 * http://codepen.io/eduardoboucas/pen/YXxmwv
*/
@mixin vw($responsive, $min, $max: false, $fallback: false, $attribute: 'font-size') {
	$responsive-unitless: $responsive / ($responsive - $responsive + 1);
	$dimension: if(unit($responsive) == 'vh', 'height', 'width');
	$min-breakpoint: $min / $responsive-unitless * 100;

	@media (max-#{$dimension}: #{$min-breakpoint}) {
		#{$attribute}: $min;
	}

	@if $max {
		$max-breakpoint: $max / $responsive-unitless * 100;

		@media (min-#{$dimension}: #{$max-breakpoint}) {
			#{$attribute}: $max;
		}
	}

	@if $fallback {
		#{$attribute}: $fallback;
	}
	#{$attribute}: $responsive;
}