/**
 * Color variables
 */
$light: #fff;
$dark: #000;
$link: #b02448;
$border: #cccccc;
$text: $dark;





/**
 * Default settings
 */
$font-size: 16px;
$line-height: 140%;





/**
 * Width and spacing settings
 */
$space: 20px;
$regularWidth: 1240px;
$wideWidth: 1600px;
$fullWidth: 100vw;
