#postexcerpt .inside p {
	display: none;
}

div.select-disabled select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: not-allowed !important;
	pointer-events: none;
	opacity: 0.8;
}
	div.select-disabled select {
		cursor: not-allowed !important;
	}